Mapper Function-

Mapper Function is used to map the data present.

In [3]:
l=[2,3,4,5,6]

In [30]:
def test(a):
    l1=[]
    for i in a:
        l1.append(i**2)
    return l1

In [31]:
test(l)

[4, 9, 16, 25, 36]

In [32]:
#executing the above code using the simpler way

In [33]:
def sq(x):
    return x**2

In [34]:
map(sq,l)

In [35]:
list(map(sq,l))
#here the iterable l has been mapped with the function sq and it generates the output

[4, 9, 16, 25, 36]

In [36]:
#the above one was with the help of the external function
# now using the internal or the Lambda function 
list(map(lambda x:x**2,l))

[4, 9, 16, 25, 36]

In [37]:
#adding the 2 numbers from each of the list like adding 1 with 6 and 2 with 7
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
list(map(lambda x,y:x+y,l1,l2))

[7, 9, 11, 13, 15]

In [38]:
#will take only 4 elements from the function as l2 has only 4 elements 
l1=[1,2,3,4,5]
l2=[6,7,8,9]
list(map(lambda x,y:x+y,l1,l2))

[7, 9, 11, 13]

In [39]:
#using the external function
def add(x,y):
    return x+y

In [40]:
list(map(add,l1,l2))

[7, 9, 11, 13]

In [42]:
# converting the string into the upper-case and then storing it into the List 
s='Lucky Bhardwaj'
list(map(lambda s:s.upper(),s))

['L', 'U', 'C', 'K', 'Y', ' ', 'B', 'H', 'A', 'R', 'D', 'W', 'A', 'J']

Reduce Function

Reduce Function is not avilable by default. So, we have to call it from the Functools Library

In [5]:
from functools import reduce

In [6]:
l=[1,2,3,4,5,6,7]

In [7]:
#submission of all the elements present in the list 
reduce(lambda x,y:x+y,l)

28

In [8]:
#How does it works for the 3 variables
reduce(lambda x,y,z:x+y+z,l)
#you can not add 3rd parameter into the reduce function over here

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [9]:
reduce(lambda x,y:x+y,[1])
#this is an exception case where only single value can be executed whereas the perameters can not be more than 2

1

In [10]:
reduce(lambda x,y:x*y,l)

5040

In [11]:
reduce(lambda x, y : x if x>y else y,l)

7

Filter Function

Filter Function is used to filter the data like list out all odd or even numbers, list out multiples of 3 or 5,etc

In [13]:
l

[1, 2, 3, 4, 5, 6, 7]

In [16]:
#extract even number
list(filter(lambda x:x%2==0,l))

[2, 4, 6]

In [17]:
#extract odd number
list(filter(lambda x:x%2==1,l))

[1, 3, 5, 7]

In [19]:
#Extract out all the positive numbers from the list
l1=[1,2,-3,-4,-6,5,-9,8]
list(filter(lambda x: x>0,l1))

[1, 2, 5, 8]

In [21]:
#Extract out all the negative numbers from the list
l1=[1,2,-3,-4,-6,5,-9,8]
list(filter(lambda x: x<0,l1))

[-3, -4, -6, -9]

In [26]:
#print all the strings having length greater than or equal to 6
l2=['ksdvds','jhvddchd','bhhs','hgsb','hjgvdv']
list(filter(lambda x: len(x)>=6,l2))

['ksdvds', 'jhvddchd', 'hjgvdv']