In [1]:
l=[1,2,3,4,5]

In [3]:
for num in l:
    print(num,type(num))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [2]:
l1=['Lucky','Bhardwaj','Yash','Birla']

In [8]:
for name in l1:
    print(name)

Lucky
Bhardwaj
Yash
Birla

In [11]:
for name in l1:
    print(name)
else:
    print('Do Something')
#for loop worked successfully then only Else will be executed

Lucky
Bhardwaj
Yash
Birla
Do Something

In [17]:
for name in l1:
    if name=='Yash':
        break;
    print(name)
#break is used to come out of the loop if the required condition is satisfied 
#break terminates the For Loop

Lucky
Bhardwaj

In [19]:
for name in l1:
    if name=='Yash':
        break;
    print(name)
else:
    print('Else would not be executed as For Loop is forcefully terminated')

Lucky
Bhardwaj

In [24]:
for name in l1:
    if name=='Yash':
        print(name)
    print(name)
else:
    print('Else would not be executed as For Loop is forcefully terminated')

Lucky
Bhardwaj
Yash
Yash
Birla
Else would not be executed as For Loop is forcefully terminated

In [19]:
l1

['Lucky', 'Bhardwaj', 'Yash', 'Birla']

In [20]:
for name in l1:
    if name=='Bhardwaj':
        continue
    print(name)
#continue excepts the mentioned output

Lucky
Yash
Birla

In [10]:
for name in l1:
    if name=='Yash':
        continue;
    print(name)
else:
    print('Else would not be executed as For Loop is forcefully terminated')
# here else will be working as the loop is not terminated so it will run completely then will go for else and that too will be executed

Lucky
Bhardwaj
Birla
Else would not be executed as For Loop is forcefully terminated

Using Range in Loops

In [13]:
range(5)

range(0, 5)

In [14]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [16]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
list(range(-10,20,2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

For loop in REVERSE

In [23]:
list(range(len(l1)))

[0, 1, 2, 3]

In [25]:
for name in range(len(l1)):
    print(l1[name])
#will output the data

Lucky
Bhardwaj
Yash
Birla

In [34]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [37]:
l1

['Lucky', 'Bhardwaj', 'Yash', 'Birla']

In [36]:
for name in range(len(l1)-1,-1,-1):
    print(l1[name])

Birla
Yash
Bhardwaj
Lucky

In [38]:
l2=[12,344,24,356,797,24,6,8,2,346,235,45775,355]

In [54]:
list(range(0,len(l2)+1,2))

[0, 2, 4, 6, 8, 10, 12]

In [57]:
for num in range(0,len(l2)+1,2):
    print(l2[num])

12
24
797
6
2
235
355

Submission of all the elements present in the list

In [58]:
l2

[12, 344, 24, 356, 797, 24, 6, 8, 2, 346, 235, 45775, 355]

In [60]:
sum(l2)

48284

In [64]:
sum=0
for i in l2:
    sum=sum+i
sum

48284

In [67]:
t1=(1,2,3,4,5,6,7,8,9)

In [68]:
sum=0
for num in t1:
    sum=sum+num
sum

45

In [72]:
s1={1353,54,56,44,677,35}

In [73]:
sum=0
for num in s1:
    sum=sum+num
sum

2219

In [74]:
s1='Lucky Bhardwaj'

In [75]:
for i in s1:
    print(i)

L
u
c
k
y

B
h
a
r
d
w
a
j

For Loop works fine with Tuple, set and string as well as well

In [76]:
d1={'x':'Lucky', 'y':'Bhardwaj'}

In [77]:
for name in d1:
    print(name)

x
y

In [84]:
d1.keys()

dict_keys(['x', 'y'])

In [85]:
d1['x']

'Lucky'

In [80]:
for name in d1.keys():
    print(d1[name])

Lucky
Bhardwaj

In [87]:
d1.values()

dict_values(['Lucky', 'Bhardwaj'])

In [91]:
for name in d1.values():
    print(name)

Lucky
Bhardwaj

In [93]:
for name in d1.items():
    print(name)

('x', 'Lucky')
('y', 'Bhardwaj')