In [1]:
def test():

SyntaxError: incomplete input (3861551224.py, line 1)

In [3]:
#pass is used to exempt the error occured due to the leaving the function empty
def test():
    pass

In [8]:
def test1():
    print('Lucky Bhardwaj')

In [9]:
test1()

Lucky Bhardwaj

In [11]:
#defined function returns the none data type and you cant concatinate with the None
test1()+'Data Scientist'

Lucky Bhardwaj

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [12]:
def test2():
    return'this is my very first return'

In [13]:
test2()

'this is my very first return'

In [18]:
test2() + ' as a Data Scientist'

'this is my very first return as a Data Scientist'

NOTE: Retirn gives you the Data Type you have called for whereas print gives you the the none data type

In [28]:
def test3():
    return 'Lucky',23,True,0,1,988.32,[22,33,233]

In [29]:
#casn return the multiple data types at once 
test3()

('Lucky', 23, True, 0, 1, 988.32, [22, 33, 233])

In [31]:
a,b,c,d,e,f,g=test3()

In [24]:
a

'Lucky'

In [26]:
b

23

In [27]:
c

True

In [32]:
#can allocate the various values at once

In [34]:
def test4():
    a=5+6/7
    return a

In [35]:
test4()

5.857142857142857

In [39]:
def test5(a,b,c):
    d=a+b/c
    return d

In [40]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [41]:
#always provide the arguments value 
test5(10,20,3)

16.666666666666668

In [42]:
def test6(a,b):
    return a+b

In [43]:
test6(3,4)

7

In [47]:
#works on all data types 
test6('Lucky','Bhardwaj')

'LuckyBhardwaj'

In [46]:
test6([34,34,55],[24,54,76])

[34, 34, 55, 24, 54, 76]

In [4]:
l=[1,2,3,4,5,6,'Lucky','Bhardwaj',[7,8,9]]

In [59]:
#extracting all the integers from the l
l1=[]
for i in l:
    if type(i)== int or type(i)==float:
        l1.append(i)
l1

[1, 2, 3, 4, 5, 6]

In [69]:
def test7(l):
    l1=[]
    for i in l:
        if type(i)== int or type(i)==float:
            l1.append(i)
    return l1

In [70]:
lx=[7,8,9]

In [71]:
test7(lx)

[7, 8, 9]

In [4]:
l=[1,2,3,4,5,6,'Lucky','Bhardwaj',[7,8,9]]

In [7]:
def test8(a):
    l=[]
    for i in a:
        if type(i)==list:
            for j in i :
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [8]:
test8(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
def test8(a):
    '''This Function is to extract the numbers from the list'''
    l=[]
    for i in a:
        if type(i)==list:
            for j in i :
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [10]:
test8()
#once we Shift+Tab this will come up with the Function Description 
#This is known as the Doc String

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
def test10(a,b):
    return a+b

In [12]:
def test11(*args):
    return args

In [13]:
type(test11())

tuple

In [15]:
test11(1,2,3)

(1, 2, 3)

In [16]:
test11(1,2,3,4,5,6,'Lucky','Bhardwaj',[7,8,9])

(1, 2, 3, 4, 5, 6, 'Lucky', 'Bhardwaj', [7, 8, 9])

NOTE- While using *args you can pass n number of arguments using this
Stores the data in the form of Tuple
*args is not mendetaor you can use anything to pass via that

In [17]:
#now using the *lucky instead of *args
def test12(*lucky):
    return lucky

In [18]:
test12(33,356,56,'xDad','sdd')

(33, 356, 56, 'xDad', 'sdd')

In [19]:
def test13(*args,a):
    return args,a

In [21]:
#now the function will be confused about wether it is for  a or args so instead of that use the below one
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [22]:
test13(1,2,3, a=4)

((1, 2, 3), 4)

In [23]:
def test14(c,d, a=1,b=2):
    return a,b,c,d

In [24]:
#now you have to assign the values for c an d d as a and b are already defined over there 
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [25]:
test14(3,4)

(1, 2, 3, 4)

In [28]:
#we can reassign the value of those which were assigned earlier i.e you can over write 
test14(3,4,a=6,b=9)

(6, 9, 3, 4)

In [29]:
#if the data is required in the dictionary format

In [31]:
def test15(**kwargs): # ** is used for the key value pair (*was used for the linear one while ** for the pair or dictionary format)
    return kwargs

In [32]:
test15()

{}

In [33]:
type(test15())

dict

In [34]:
test15(a=[1,2,3,4], b='Lucky Bhardwaj', c=89.90)

{'a': [1, 2, 3, 4], 'b': 'Lucky Bhardwaj', 'c': 89.9}