Loop Practice

Print Till 10

In [1]:
a=1
while a<=10:
    print(a+1)
    a=a+1

2
3
4
5
6
7
8
9
10
11

Sum of number till N

In [1]:
n=int(input('Enter a number'))
sum=0
counter=1
while counter<=n:
    sum=sum+counter
    counter=counter+1
sum

Enter a number 5

15

Factorial of a number

In [2]:
number=int(input('Enter a number'))
factorial =1
while number>0:
    factorial =factorial*number
    number=number-1
factorial

Enter a number 4

24

Finonacci Series

Using while loop

In [11]:
number=int(input('Enter the number'))
a=0
b=1
counter=0
while counter<number:
    print(a)
    c=a+b
    a=b
    b=c
    counter=counter+1

Enter the number 9

0
1
1
2
3
5
8
13
21

Using For Loop

In [14]:
a,b=0,1
for i in range(10):
     print(a)
     c=a+b
     a=b
     b=c
     counter=counter+1

0
1
1
2
3
5
8
13
21
34

Reversing a string using While loop

In [16]:
#normally how we reverses the string

In [17]:
x='Lucky'
x[::-1]

'ykcuL'

In [22]:
#Using While loop 
word=input('Enter your String for the Reversal')
reverse=''
length=len(word)
while length>0:
    reverse=reverse+word[length-1]
    length=length-1
reverse

Enter your String for the Reversal Lucky

'ykcuL'

In [27]:
#Printing The Table using for loop 
number=int(input('Enter the Number: '))
for i in range(1,11):
    print(i*number)
    i=i+1

Enter the Number:  5

5
10
15
20
25
30
35
40
45
50

In [29]:
#using while loop
n=int(input('Enter the Number: '))
i=1
while i<=10:
    result=n*i
    print(result)
    i=i+1

Enter the Number:  5

5
10
15
20
25
30
35
40
45
50

ELSE with WHILE

In [38]:
i=1
n=5
while i<n:
    print(i)
    i=i+1
else:
    print('Executed')

1
2
3
4
Executed

In [39]:
#using break will not let the else to be executed 
i=1
n=5
while i<n:
    print(i)
    if i==3:
        break;
    i=i+1
else:
    print('Executed')

1
2
3

In [40]:
#Comprehension

Usual way of writing a code to find the square of the numbers present in a list

In [3]:
l=[1,2,3,4,5]
l1=[]
for i in l:
   l1.append(i**2)   
l1

[1, 4, 9, 16, 25]

Using Comprehension doing the same

In [5]:

[i**2 for i in l]

[1, 4, 9, 16, 25]

Extract the even number from the list l

In [7]:
[i for i in l if i%2==0]

[2, 4]

In [9]:
#Converting the list into upper case
l2=['Lucky','Bhardwaj','Yash', 'Birla']
[i.upper() for i in l2]

['LUCKY', 'BHARDWAJ', 'YASH', 'BIRLA']

In [10]:
(i**2 for i in l)

In [12]:
#<generator object <genexpr> at 0x7fe77038ec00>
#shows that that this has been created but we have to extract it using the list 
list(i**2 for i in l)

[1, 4, 9, 16, 25]

NOTE:- Tuple and List comprehensions will be exactly same whereas the Dictionary one will be different

Dictioanry Comprehension

In [16]:
dict1={'x':4,'y':5, 'z':1}

In [17]:
#square the value present in the dict1
{k:v**2for k,v in dict1.items()}

{'x': 16, 'y': 25, 'z': 1}

In [23]:
#only those values which are greater than 1
{k:v**2 for k,v in dict1.items() if v>1}

{'x': 16, 'y': 25}