never start a function in the uppercase 
for example Myfun(Incorrect)
myfun(Correct)

In [4]:
def myFunction():
    print('This is my first custom function')
myFunction()

This is my first custom function

In [2]:
def printit(lucky):
    print(lucky)
printit('Luc ky')

Luc ky

In [12]:
def lucky(a):
    print(a-100)
    print(a**3)
    print(a*4)
    print(a+a)
lucky(10)

-90
1000
40
20

In [10]:
def lucky(a):
    print(a-100)
    print(a**3)
    print(a*4)
    print(a+a)
lucky(10)

-90
1000
40
20

##### Take 3 values and perform various operatioins

In [14]:
def myFunction(a,b,c):
    print(a+b+c)
    print(a*b*c)
    print((a-b),(b-c))
myFunction(2,3,4)

9
24
-1 -1

In [7]:
def myFunction(a,b,c):
    return(a+b+c),(a*b*c),((a-b),(b-c))
    return(a*b*c)
    return((a-b),(b-c))
z=myFunction(2,3,4)
print(z)

(9, 24, (-1, -1))

In [9]:
def myFunction(a,b,c):
    print(a+b+c)
    print(a*b*c)
    print((a-b),(b-c))
z=myFunction(2,3,4)

9
24
-1 -1

Return will be executed once only while Print would run multiple times

In [20]:
def myFunction(a,b):
    return a*b
z= myFunction(3,4)
print(z)

12

In [23]:
def lucky(a):
    b=20
    print(b-100)
    print(a**3)
    print(a*4)
    print(a+a)
lucky(10)

-80
1000
40
20

In [3]:
# CODE STUB FOR INPUT
employee_grades = [int(grade) for grade in input().split()]
senior_employee_grade = int(input())
 
# YOUR CODE BELOW
# Define function to get the number of employees below senior_employee_grade
def counting_num_employees_below_grade(employee_grade, senior_employee_grade) :
    num_employees_below_grade = 0
    for grade in employee_grades:
      if grade < senior_employee_grade:
        num_employees_below_grade+=1
    return num_employees_below_grade
 
# [STUB CODE]
print(counting_num_employees_below_grade(employee_grades, senior_employee_grade))

7
9
1

In [16]:
def myInfo(name,age):
    print('My age is:',age)
    print('My name is:',name)
myInfo(age= 21,name='Lucky')

My age is: 21
My name is: Lucky

In [19]:
def myInfo(name,age):
    print('My age is:',age)
    print('My name is:',name)
myInfo(age=(input("Enter age: ")),name=input(str('Enter name: ')))

Enter age: 21
Enter name: Lucky
My age is: 21
My name is: Lucky

### To print the sum of the variables in the tuple

In [46]:
def info(name,age,*var):
    print('My age is:',age)
    print('My name is:',name)
    print('variable values:',var)
    
    sum=0
    for i in var:
        sum=sum+i
    return(sum)
z=info('Lucky',21,20,30,40,50,60,70,80)
print(z)

My age is: 21
My name is: Lucky
variable values: (20, 30, 40, 50, 60, 70, 80)
350

In [47]:
def info(name,age,*var):
    print('variable values:',var)
    
    sum=0
    for i in var:
        sum=sum+i
    return(sum)
z=info('Lucky',21,20,30,40,50,60,70,80)
print(z)

variable values: (20, 30, 40, 50, 60, 70, 80)
350

In [54]:
def myfun(a,b):
    print(a+b)
    print(a*b)
    print(a/b)
    return a+b,a*b,a/b
myfun(5,5)
print(z)

10
25
1.0
350

In [55]:
def myfun(a,b):
    suma=(a+b)
    mult=(a*b)
    div=(a/b)
    return suma,mult,div

a,b,c=myfun(5,5)

print(a)
print(b)
print(c)

10
25
1.0

In [6]:
def funtwo(**var):
    print(var)
funtwo(first='Lucky', mid='Mukesh', last='Bhardwaj')

{'first': 'Lucky', 'mid': 'Mukesh', 'last': 'Bhardwaj'}

In [3]:
def funtwo(**var):
    print(var)
funtwo(first=input('Enter first name:'), mid=input('Enter mid name:'), last=input('Enter last name:'))

Enter first name:Lucky
Enter mid name:Mukesh
Enter last name:Bhardwaj
{'first': 'Lucky', 'mid': 'Mukesh', 'last': 'Bhardwaj'}

### to concatinate

In [2]:
def funtwo(**var):
    sum=''
    for i in var:
        print(var[i])
        sum=sum+var[i]
    print(sum)
funtwo(first='Lucky ', mid='Mukesh ', last='Bhardwaj')

Lucky
Mukesh
Bhardwaj
Lucky Mukesh Bhardwaj

In [4]:
num=int(input('Enter the number:'))
factorial = 1
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)

Enter the number:10
The factorial of 10 is 3628800

In [2]:
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)
fact(10)

3628800

In [3]:
def print_data_set(name, *values):
    if len(values) > 0:
        print(f'For the data set {name}, the values are:', end=' ')
        for each_value in values:
            print(each_value, end = ' ')
        print(' ')
    else:
        print('Empty data set!')

print_data_set('Item Quantities', 10, 20, 30)

For the data set Item Quantities, the values are: 10 20 30

# Lambda Fuction

In [1]:
diff = lambda x,y : x-y
diff(2, 3)

-1

In [2]:
bonus = lambda tenure,salary: salary/10 if tenure>=0.25 else 0
bonus(1,126000)

12600.0

In [3]:
get_min = (lambda x, y: x if x < y else y)
get_min(101*99, 102*98)

9996

In [5]:
#USD to INR Conversion
def DollarToRupeesResult(dollar_amount): print(f'${dollar_amount} in rupees is {(dollar_amount*73.89):.2f}')
DollarToRupeesResult(3)

$3 in rupees is 221.67

In [26]:
usd=lambda dollar: dollar*73.89
dollar=3
print(f'${dollar} in rupees is ₹{usd(3):.2f}')

$3 in rupees is ₹221.67